h1{
	display: block;
	font-size: 100px;
	color: #553300;
	text-align: center;
	background-image: url("4.jpg");
    background-size: 1500px 200px;
    margin-top: 0px;
    line-height: 200px;
}
p{font-size: 50px;
	margin-top: 100px;
	text-decoration: none;

}
a:link{
	color: #553300;
	text-decoration: none;
}
a:visited{
	color: #553300;
	text-decoration: underline;
}
a:hover{
	color: #ff0000;
	text-decoration: none;
}
a:active{
	color: #0000ff;
	text-decoration: underline;
}
a.h{
    display: block;
	background-color: #ffffff;
    background-position: center;
    line-height: 100px;
    text-align:center;
  opacity:0.4;
}
table, td,th{
	border-collapse:collapse;
	border: 3px solid #553300;
	margin-left: 100px;
	width: 1000px;
	height: 100px;
	}
	
		caption{
			font-size: 30px;
			color: #553300;
			margin-bottom: 30px;
		}